<form class="d-flex flex-column border border-primary p-3" [formGroup]="form" (submit)="onSubmit()">
    <label for="fullName">Full Name</label>
    <input id="fullName" formControlName="fullName" [ngClass]="{'is-invalid': hasFormErrors && form.get('fullName').invalid}"/>
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email" [ngClass]="{'is-invalid': hasFormErrors && form.get('email').invalid}"/>
    <label for="address">Address</label>
    <div id="address" class="d-flex address-wrapper" formGroupName="address">
        <input formControlName="street" placeholder="Street" class="d-flex flex-shrink-1" [ngClass]="{'is-invalid': hasFormErrors && form.get('address.street').invalid}"/>
        <input formControlName="buildingNumber" type="number" placeholder="Building no." class="d-flex flex-shrink-1" [ngClass]="{'is-invalid': hasFormErrors && form.get('address.buildingNumber').invalid}"/>
        <input formControlName="zipCode" placeholder="ZIP" class="d-flex flex-shrink-1" [ngClass]="{'is-invalid': hasFormErrors && form.get('address.zipCode').invalid}"/>
        <input formControlName="city" placeholder="City" class="d-flex flex-shrink-1" [ngClass]="{'is-invalid': hasFormErrors && form.get('address.city').invalid}"/>
    </div>
    <button type="submit" class="btn btn-primary mt-4">Register</button>
</form>
