<table class="table">
    <thead>
        <tr>
            <th>Full name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers">
            <td>{{customer.fullName}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.address}}</td>
            <td>
                <button class="btn btn-danger" (click)="deleteCustomer(customer)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
